/*Кроме селекторов тегов, классов и идентификаторов в css также есть так называемый
 универсальный селектор, который представляет знак звездочки (*).
  Он применяет стили ко всем элементам на html-странице:*/
*{      
    background-color: red;
}

div {
    margin: 10px;
    border: 1px solid #222;
}

#header {
    height: 80px;
    background-color: #ccc;
}

#content {
    height: 180px;
    background-color: #eee;
}

#footer {
    height: 80px;
    background-color: #ccc;
}
h1, h2, h3, p{
                 
    color: white;
}